<form [formGroup]="livroService.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeigth="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="livroId">
                <mat-form-field>
                    <input formControlName="titulo" matInput placeholder="Título*">
                    <mat-error *ngIf="livroService.form.controls['titulo'].errors?.required">Campo obrigatório.</mat-error>
                    <mat-error *ngIf="livroService.form.controls['titulo'].errors?.maxlength">Máximo 100 caracteres.</mat-error>
                </mat-form-field>
                <mat-form-field>
                     <mat-select formControlName="editoraId" placeholder="Editora*">
                        <ng-container *ngFor="let item of editoraService.lista">
                            <mat-option value="{{item.editoraId}}">{{item.nome}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Campo obrigatório.</mat-error>
                </mat-form-field>
                <mat-form-field>
                        <mat-select formControlName="categoriaId" placeholder="Categoria*">
                           <ng-container *ngFor="let item of categoriaService.lista">
                               <mat-option value="{{item.categoriaId}}">{{item.nome}}</mat-option>
                           </ng-container>
                       </mat-select>
                       <mat-error>Campo obrigatório.</mat-error>
                   </mat-form-field>
                <mat-form-field>
                    <input formControlName="dataPublicacao" matInput [matDatepicker]="picker"
                        placeholder="Data da publicação">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="livroService.form.invalid">Salvar</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>