<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>menu_books</mat-icon> <span class="nav-caption">Livros</span>
    </a>
    <a mat-list-item routerLink="/editoras" (click)="onSidenavClose()">
        <mat-icon>library_books</mat-icon> <span class="nav-caption">Editoras</span>   
    </a>
    <a mat-list-item routerLink="/categorias" (click)="onSidenavClose()">
      <mat-icon>library_books</mat-icon> <span class="nav-caption">Categorias</span>   
  </a>
  </mat-nav-list>